<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reject and End Call</title>
<style>
.CodeMirror{
height :240px;
}
</style>
</head>
<body>
<div class="container-fluid widget4_outer_block">
 <div class="row">
 
  <section>
  
   <!--Left Block Starts-->
   <div class="col-sm-4 col-md-4 widget4_left_outerBlock">
   
    <div align="justify">
     <div class="widget4_leftBlock_heading">Description</div>
     <div class="widget4_video_modal">
     <!-- Button HTML (to Trigger Modal) -->
       <a href="#modal_video" class="btn btn-sm btn-primary raised btn-responsive widget4_video_btn " data-toggle="modal">Video</a>
       
       <div id="modal_video" class="modal fade">
        <div class="modal-dialog">
         <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
           <h4 class="modal-title">Tutorial Video</h4>
          </div>
          <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
           <iframe id="tutorialVideo" class="embed-responsive-item" src="https://www.youtube.com/embed/HApb6LkNsg4?modestbranding=1&theme=light" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
         </div>
        </div>
       </div>
     </div>
     
     <div id="widget4_Carousel" class="carousel slide widget4_carousel_container" data-ride="carousel">
     <!-- Indicators -->
       <ol class="carousel-indicators widget4_carousel-indicators" id="widget4_indicators">
		</ol>
		<div class="carousel-inner widget4_carousel-inner" id="widget4_homepageItems"></div>
       
        <!-- Left and right controls -->
     <a class="carousel-control left" href="#widget4_Carousel"
			role="button" data-slide="prev"> 
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			 <span class="sr-only">Previous</span>
		</a> 
		<a class="carousel-control right" href="#widget4_Carousel" role="button" data-slide="next" >
		 <span class="glyphicon glyphicon-chevron-right carousel-right-arrow" aria-hidden="true"></span>	
		</a>
     </div>
    </div>
   </div>
   <!--Left Block Ends-->
   
   
   <!--Right Block Starts-->
   <div class="col-sm-8 col-md-8 widget4-right-outerBlock">
    <div align="justify">
     <div class="widget4_leftBlock_heading">
	   <b>HTML</b>
	 </div>
     <div>
	  <textarea autocomplete="off" spellcheck="false" class="widget4-textBlock" disabled=true id="widget4_htmlText">
<p>
<button id="createPhoneObjectButton" onclick="createPhoneObject()">Create Phone Object</button>
<button id="createPhoneSuccessButton" hidden disabled>Phone Object Created Successfully</button>
</p>
    
<!-- Step 2a: HTML Login and Logout UI -->
<p>
<input type="text" id="loginInput" placeholder="Example: alice or bob" size="30" hidden>
<button id="loginButton" onclick="createAccessToken()" hidden>Account ID Login</button>
<button id="logoutButton" onclick="logout()" hidden>Logout</button>
</p>

<!-- Step 3a: HTML Make and Answer Call UI -->
<p>
<input type="text" id="callToInput" placeholder="Account ID/Telephone" hidden>
<button id="makeCallButton" onclick="makeCall()" hidden>Make Call alice@yourdomain.com or 1234567890</button>
<button id="answerCallButton" onclick="answerCall()" hidden>Answer Call</button>
<audio id="local" style="display:none"></audio>
<audio id="remote" style="display:none"></audio>

<!-- Step 4a: HTML Reject and End Call UI -->
<button id="rejectCallButton" onclick="rejectCall()" hidden>Reject Call</button>
<button id="hangupCallButton" onclick="hangUpCall()" hidden>Hangup Call</button>

<!-- Step 5a: Hold and Resume Call UI -->
<button id="holdCallButton" onclick="holdCall()" hidden>Hold Call</button>
<button id="resumeCallButton" onclick="resumeCall()" hidden>Resume Call</button>

<!-- Step 6a: HTML Mute and Unmute Call UI -->
<button id="muteCallButton" onclick="muteCall()" hidden>Mute Call</button>
<button id="unmuteCallButton" onclick="unmuteCall()" hidden>Unmute Call</button>

<!-- Step 7a: HTML Move and Cancel Call UI -->
<button id="moveCallButton" onclick="moveCall()" hidden>Move Call</button>
<button id="cancelCallButton" onclick="cancelCall()" hidden>Cancel Call</button>
</p>
</textarea>
	 </div>
    </div>
    
    <div align="justify" class="widget4_javascriptBlock">
     <div class="widget4_leftBlock_heading">
		<b>JavaScript</b>
	 </div>
	 <div>
	  <textarea autocomplete="off" spellcheck="false" class="widget4-textBlock"  id="widget4_javascriptText" disabled=true>
var phone, accessToken, myDHS, myDHSURL = 'https://lprod.code-api-att.com/ewebrtc-dhs';
    
//Get DHS Configuration Information
var xhrConfig = new XMLHttpRequest();
xhrConfig.open('GET', myDHSURL + "/config/");
xhrConfig.onreadystatechange = function() {
    if (xhrConfig.readyState == 4) {
        if (xhrConfig.status == 200) {
            console.log(xhrConfig.responseText);
            myDHS = JSON.parse(xhrConfig.responseText);
        } else {
            console.log(xhrConfig.responseText);
        }
    }
}
xhrConfig.send();  

function createPhoneObject() {
    phone = ATT.rtc.Phone.getPhone();
    registerEvents();
    createPhoneObjectButton.hidden = true;
    createPhoneSuccessButton.hidden = false;
    loginInput.hidden = false; // Added in Step 2
    loginButton.hidden = false; // Added in Step 2
}
    
function onError(data) {
    console.log(data.error);
}

function registerEvents() {
    phone.on('error', onError); 
    phone.on('session:ready', onSessionReady); // Added in Step 2
    phone.on('session:disconnected', onSessionDisconnected); // Added in Step 2
    phone.on('call:incoming', onIncomingCall); // Added in Step 3
    phone.on('call:connected', onConnectedCall); // Added in Step 3
    phone.on('call:disconnected', onDisconnectedCall); // Added in Step 4
    phone.on('call:connecting', onConnectingCall); // Added in Step 7
    phone.on('call:canceled', onCanceledCall); // Added in Step 7  
}
    
// Step 2b: Login and Logout
function onSessionReady() {
    loginButton.hidden = true;
    logoutButton.hidden = false;
    callToInput.hidden = false; // Added in Step 3
    makeCallButton.hidden = false; // Added in Step 3
}
    
function onSessionDisconnected() {
    loginButton.hidden = false;
    logoutButton.hidden = true;
    callToInput.hidden = true; // Added in Step 3
    makeCallButton.hidden = true; // Added in Step 3
}
       
function createAccessToken() {
    var xhrToken = new XMLHttpRequest();
        xhrToken.open('POST', myDHS.app_token_url);
        xhrToken.setRequestHeader("Content-Type", "application/json");
        xhrToken.onreadystatechange = function() {
            if (xhrToken.readyState == 4) {
                if (xhrToken.status == 200) {
                    console.log(xhrToken.responseText);
                    accessToken = (JSON.parse(xhrToken.responseText));
                    associateAccessToken();
                } else {
                    console.log(xhrToken.responseText);
                }
            }
        }
        xhrToken.send(JSON.stringify({app_scope: "ACCOUNT_ID"}));
}
    
function associateAccessToken() {
    phone.associateAccessToken({
        userId: loginInput.value,
        token: accessToken.access_token,
        success: login,
        error: onError
    }); 
}

function login() {
    phone.login({token: accessToken.access_token});
}
    
function logout() {
    phone.logout();
}

// Step 3b: Make and Answer Call
function onIncomingCall () {
    makeCallButton.hidden = true;
    answerCallButton.hidden = false;
    rejectCallButton.hidden = false; // Added in Step 4
}
    
function onConnectedCall () {
    callToInput.value = "" ;
    makeCallButton.hidden = true; 
    answerCallButton.hidden = true;
    cancelCallButton.hidden = false; 
}
    
function makeCall() {
    phone.dial({
    destination: phone.cleanPhoneNumber(callToInput.value),
    mediaType: 'audio',
    localMedia: document.getElementById('local'),
    remoteMedia: document.getElementById('remote')
    });
}

function answerCall() {
    phone.answer({
    mediaType: 'audio',
    localMedia: document.getElementById('local'),
    remoteMedia: document.getElementById('remote')
    });
}

// Step 4b: Reject and End Call
function onDisconnectedCall () {
    makeCallButton.hidden = false;
    answerCallButton.hidden = true; 
    moveCallButton.hidden = true; 
}        

function onConnectingCall () {
    makeCallButton.hidden = true;
    cancelCallButton.hidden = false;
}        

function onCanceledCall () {
    makeCallButton.hidden = false;
    answerCallButton.hidden = true;
    cancelCallButton.hidden = true;
}        

function cancelCall() {
    phone.cancel();
} 
      </textarea>
	 </div>
    </div>    
    
   </div>
   
   <!--Right Block Ends-->
  </section>
  
  <!--Bottom Block Starts-->
  <section>
    <div class="col-sm-12 col-md-12 widget4_bottom-textBlock">
     <div class="desctittle">Results
		<!-- <button type="button" style="float: right;" onclick="clickRun()" class="runbutton">Run</button> -->
	
	<button type="button" style="float: right;" class="btn btn-primary btn-sm raised" onclick="clickRun()">Run</button>
	 </div>	
	 <div id="footerDataWidget" ></div>
    </div>
  </section>
  <!--Bottom Block Ends-->
  
 </div>
</div>
<!--<script>
		 var scriptEditArea= applyStyleToTextArea("widget4_javascriptText","javascript","150px");
		 var htmlEditArea= applyStyleToTextArea("widget4_htmlText","text/html","150px");
</script>-->
</body>
</html>
